extends base.pug

block content
    h4 영상 정보 편집
    form(method="POST")
        input(placeholder="제목", name="title", value=video.title, required)
        input(placeholder="설명", required, type="text", name="description", value=video.description)
        input(placeholder="해시태그 ( , 로 구분)", required, type="text", name="hashtags", value=video.hashtags.join())
        input(value="저장",type="submit")